/* initial setup of font and simple 10 for ems for page */
html {
    font-family: Arial, monospace;
    font-size: 10px;
}
/* nav bar */
#header-container {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 50px;
    column-gap: 100px auto 0px 0px 0px;
    align-items: center;
}
.header {
    position: relative;
    font-size: 1.2em;
    justify-items: normal;
}
.header.left {
    font-size: 1.4em;
    justify-items: start;
}
#about {
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 20px;
}
#store {
    grid-column-start: 2;
    grid-column-end: 3;
}
#gmail {
    grid-column-start: 3;
    grid-column-end: 4;
}
#images {
    grid-column-start: 4;
    grid-column-end: 5;
}
#apps {
    grid-column-start: 5;
    grid-column-end: 6;
}
#google-account {
    grid-column-start: 6;
    grid-column-end: 7;
    padding-right: 20px;
}
/* Google logo */
#search-main {
    align-content: 50%;
    justify-content: center;
}
/* Search oval plus buttons */
/*footer */