html {
    font-family: Arial, monospace;
    font-size: 10px;
    height: 100%;
    margin: 0px;
}
body {
    display: flex;
    flex-direction: column;
    height: 100%;
}
a {
    color: black;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: underline;
}
/* Main Page Layout */
#nav-top-container {
    display: block;

}
#main-container {
    display: block;
    flex-grow: 1;
    align-self: center;
    width: 100%;
    min-height: fit-content;
}
#main {
    height: 300px;
}
#logo-container {
    text-align: center;
}
#footer-container {
    display: block;
    align-self: flex-end;
    height: 100px;
    width: 100%;
    margin-bottom: 5px;
    background-color: rgba(223, 222, 222, 0.699);

}
/* Navigation Bar */
#nav-bar-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    height: 50px;
    width: 100%;
    font-size: 1.4em;
}
#about{
    display: block;
    padding: 1rem;
}
#store{
    display: block;
    padding: 1rem;
}
#google-nav-buttons {
    display: inline-block;
    flex-grow: 1;
    height: 50px;
}
#google-nav-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    float: right;
    height: 50px;
    width: 30%;
    max-width:250px;
    min-width: fit-content;
}
.g-nav-bar {
    flex: 1;
    text-align: center;
}
#gmail {
    display: block;
    padding: 1rem;
}
#images {
    display: block;
    padding: 1rem;
}
#apps {
    display: block;
    padding: 1rem;
    text-align: center;
    height: 50px;
}
#nav-svg {
    width: 48px;
    height: 48px;
    padding: 1px;
}
#nav-svg:hover {
    background-color: rgba(223, 222, 222, 0.699);
    border-radius: 50%;
}
#account-container {
    display: inline-block;
    height: 50px;
    width: 50px;
}
#account {
    display: block;
}
#prof-pic {
    height: 35px;
    width: 35px;
    border-radius: 50%;
}
#prof-pic:hover {
    border: 6px solid rgba(223, 222, 222, 0.699);
}
/* Main - Logo and Search Bar, Buttons */
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;    
}
#logo-container {
    display: block;
}